<html>
	<head>
		<style>
		td{
			font-family: "calibri";
			font-size: 20;
		}
		table{
			border:1px solid black;
		}
		#pic1{
			width:36px;
			height:61px;
		}
		#pic2{
			width:294px;
			height:69px;
		}
		#pic3{
			width:54px;
			height:67px;
		}
		#pic4{
			width:92px;
			height:90px;
		}
		</style>
	</head>
	<body>
		<table height=248 width=418>
			<tr>
				<td height=72 width=60><img id="pic1" src="Gov.png" ></td>
				<td height=72 width=200><img id="pic2" src="tricolor.jpg" ></td>
				<td height=72 width=89 align="center"><img id="pic3" src="Sgov.png" ></td>
			</tr>
			<tr>
				<td colspan="2">Rohit Sharma</td>
				<td rowspan="6" ><img id="pic4" src="QR.png" ></td>
			</tr>
			<tr>
				<td colspan="2">YoB: 1956</td>
			</tr>
			<tr>
				<td colspan="2">Male</td>
			</tr>
			<tr>
				<td colspan="2">House No.39, Main Road. Civil Lines.  Mujaffarnagar, Uttar Pradesh, India</td>
			</tr>
			<tr>
				<td colspan="2">Pincode-250002</td>
			</tr>
			<tr>
				<td colspan="3" align="center"><b>A0100100011736536</b></td>
			</tr>
		</table>
	</body>
</html>