<html>
<head>
    <title>Registration</title>
    <script type="text/javascript">
        function getDistricts(value) {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var myObj = JSON.parse(this.responseText);
                    document.getElementById('district').disabled = false;
                    document.getElementById('tehsil').disabled = true;
                    document.getElementById('gram_panchayat').disabled = true;
                    html = ''
                    for (i = 0; i < myObj.length; i++) {
                        var html = html + '<option value=\"' + myObj[i].district_id + '\">' + myObj[i].district_name + '</option>';
                    }
                    document.getElementById('district').innerHTML = html;
                }
            };
            xmlhttp.open("GET", "/smart_card/get_districts/?state_id=" + value, true);
            xmlhttp.send();
        }

        function getTehsils() {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var myObj = JSON.parse(this.responseText);
                    document.getElementById('tehsil').disabled = false;
                    document.getElementById('gram_panchayat').disabled = true;
                    var html = ''
                    for (i = 0; i < myObj.length; i++) {
                        html = html + '<option value=\"' + myObj[i].tehsil_id + '\">' + myObj[i].tehsil_name + '</option>';
                    }
                    document.getElementById('tehsil').innerHTML = html;
                }
            };
            var url = "/smart_card/get_tehsils/";
            url += "?country_id=1&";
            url += "state_id=" + document.getElementById("state").value + "&";
            url += "district_id=" + document.getElementById("district").value;
            xmlhttp.open("GET", url, true);
            xmlhttp.send();
        }

        function getGramPanchayats() {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var myObj = JSON.parse(this.responseText);
                    document.getElementById('gram_panchayat').disabled = false;
                    var html = ''
                    for (i = 0; i < myObj.length; i++) {
                        html = html + '<option value=\"' + myObj[i].gram_panchayat_id + '\">' + myObj[i].gram_panchayat_name + '</option>';
                    }
                    document.getElementById('gram_panchayat').innerHTML = html;
                }
            };
            var url = "/smart_card/get_gram_panchayats/";
            url += "?country_id=1&";
            url += "state_id=" + document.getElementById("state").value + "&";
            url += "district_id=" + document.getElementById("district").value + "&";
            url += "tehsil_id=" + document.getElementById("tehsil").value;
            xmlhttp.open("GET", url, true);
            xmlhttp.send();
        }
    </script>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<body>
<div class="container-fluid">
    <h1><center>Registration Form</center></h1>
</div>
<hr>
<div class="container" style="box-shadow: 10px 10px 5px grey;">
<form action="{% url 'register' %}" method="GET">
  <div class="form-group">
    <label for="fname">First Name</label>
        <input  name="fname" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter first name" required>
  </div>
  <div class="form-group">
      <label for="lname">Last Name</label>
        <input name="lname" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter last name" required>
  </div>
    <legend>Gender</legend>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="Male" checked>
        Male
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="Female">
        Female
      </label>
    </div>
<br>
  <div class="form-group">
    <label for="faname">Father's Name</label>
        <input  name="faname" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Father's name" required>
  </div>
  <div class="form-group">
    <label for="fname">Mother's Name</label>
        <input  name="moname" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Mother's name" required>
  </div>
  <div class="form-group">
    <label for="cnumber">Phone Number</label>
        <input  name="cnumber" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Phone Number" required>
  </div>
   <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
   </div>
   <div class="form-group">
    <label for="Pan">PAN Number</label>
        <input  name="Pan" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter PAN Number" required>
  </div>
   <div class="form-group">
    <label for="Country">Country</label>
        <input  name="Country" type="text" class="form-control" value="India" id="exampleInputEmail1" readonly>
  </div>
    <div class="form-group">
      <label for="state">State :</label>
      <select class="form-control" id="state" name="state" onchange="getDistricts(this.value)">

          {% for foo in sta %}

                 <option value="{{ foo.state_id }}"> {{ foo.state_name }} </option>
          {% endfor %}


      </select>
    </div>
    <div class="form-group">
      <label for="district">District :</label>
      <select class="form-control" id="district" onchange="getTehsils()" disabled>
      </select>
    </div>
    <div class="form-group">
      <label for="tehsil">Tehsil :</label>
      <select class="form-control" id="tehsil" onchange="getGramPanchayats()" disabled>
      </select>
    </div>
    <div class="form-group">
      <label for="gram_panchayat">Gram Panchayat / Ward :</label>
      <select class="form-control" id="gram_panchayat" disabled>
      </select>
    </div>



   <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</body>
</html>